body{
    font-family: sans-serif;
    margin: 0;
}
.text-highlight{
}
h1{
    font-size: 50px;
}
.flex-section{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
p{
    font-weight: 700;
    color: lightseagreen;
}
.link-design{
    text-decoration: none;
    color: darkred;
    font-weight: 900;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0 dashed red;
    background-color: hotpink;
    background-image: linear-gradient(to top right, pink, purple);
}
h3{
    font-size: 40px;
}
.paw-up{
    background-image: url(images/cat-paw-up-bg.png);
    background-repeat: no-repeat;
}
.cat-laptop{
    background-image: url(images/cat-laptop-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.cat-eats{
    border-left: 5px solid red ;
    border-radius: 10px;
    border-image: linear-gradient(180deg, orange, red);
    border-image-slice: 30;
    margin: 3%;
    box-shadow: 20px 20px 20px lightblue;
}
.bottoom-section{
    background-image: url(images/cat-eats-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hungry-cat{
    display: flex;
}
.hungry-cat img{
    width: 50%;
}